{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}


    {% for user in usuarios %}
        <li><a href="{{ path('mensaje_conversacion')}}?user={{ user.username }}">{{ user.username }}</a> </li>

    {% endfor %}
{% endblock %}
