/*
Paleta de colores:
#A6A2A7 Light Slate Gray
#2A291F Black
#927E78 Gray
#654031 Dark Olive Green
#582F26 Dark Olive Green
*/

/*GENERALES*/

body{
    background-color: ghostwhite;
}

.btn-secondary{
    border-radius: 8px;
    background-color:#927E78 ;
}
.btn-secondary:hover{
    background-color:#654031 ;
}
a{
    color:#582F26;
}
a:hover{
    color:#654031;

}
/*/GENERALES*/

/*MENU*/

.navbar-content{
    height: 100vh;
    width: 197px;
    background-image: url("../images/bg/bg2.jpg") ;
    background-size: cover;
    font-weight: bold;

}
.group-links{
    padding-top: 30px;
    position: absolute;
    left: 95px;
    text-align: right;
}
.nav-link{
    position: relative;
    border-radius: 10px 0px 0px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: white;
}
.nav-link:hover:not(.active){
    color: ghostwhite;
    background-color: rgba(248,248,255,0.2);
}
.separator-menu {
    min-height: calc(100vh - 600px);
}
.active{
    color:#582F26;
    background-color: ghostwhite;
}
.active:hover{
    color:#582F26;
}
.active::after{
    content: '';
    min-width: 10px;
    min-height: 10px;
    position: absolute;
    right: 0px;
    bottom: -10px;
    border-radius: 100%;
    box-shadow: 5px -5px 0px 0px ghostwhite;
}
.active::before{
    content: '';
    min-width: 10px;
    min-height: 10px;
    position: absolute;
    right: 0px;
    top: -10px;
    border-radius: 100%;
    box-shadow: 5px 5px 0px 0px ghostwhite;
}

.logo{
    position: absolute;
    color: ghostwhite;
    font-size:1em ;
    bottom:60px;
    left: 50px;
}
.logo img{
    width: 90px;
}
/*---ESTILOS DEL NAV---*/

/*ESTILOS CONTENEDORES USUARIOS*/
.user-form {
    width: 350px;
    position: absolute;
    top: 20vh;
    left: 400px;
}
.edit-user-form{
    text-align: right;
}